@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.42857143;
  background-color: #EFEFEF;
	margin-bottom: 60px;
	color: #4D7A97;
}

@media print {
	* {
		font-size: 0.95em;
	}

	body {
		background-color: initial;
	}
}

h1 {
	font-size: 3em;
	font-weight: 400;
	margin-top: 0px;
}

h3.subtitle {
	font-weight: normal;
	margin-top: -50px; 
	margin-left: 60px;
}

.title {
	font-size: 1.15em;
	color: #21631A;
}

.subtitle {
	font-size: 1.1em;
}

.muted.dark {
	color: #80ADCA;
}

footer .muted.dark {
	opacity: 0.5;
}

.nolist {
	list-style: none;
}

.emphasis {
	font-style: italic;
}

.tabbed {
	margin-left: 60px;
}

.muted {
	font-weight: 300;
	color: #9AC7E4;
}

.large {
	font-size: 1.5em;
}

.small {
	font-size: .75em;
	font-weight: lighter;
}

a,
a:active {
	text-decoration: none;
	color: #54964D;
	outline: none;
}

a:hover {
	text-decoration: none;
	color: #21631A;
}

a.nostyle,
a.nostyle:active,
a.nostyle:hover {
	color: inherit;
}

p.notop {
	margin-top: 0px;
}

p.nobottom {
	margin-bottom: 0px;
}

.summary {
	font-size: 0.85em;
	margin-top: 2px;
	margin-bottom: 5px;
	list-style: none;
	margin-left: 0;
	padding-left: 0.5em;
}

.summary li {
	padding-left: 1em;
  text-indent: -1em;
}

.summary li:before {
	content: "+";
	padding-right: 3px;
}

.nudgeup {
	margin-top: -70px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
	margin: 0px auto;
}
